<p class="total">Thành tiền</p>
<span class="tong">@String.Format("{0:0,0}", ViewBag.TotalPrice)</span><br />
<span>đ</span>
<input type="submit" class="btn btn-block btn-danger thanhtoan" value="Thanh toán">


