@using TTNhom.Models
@model PagedList.IPagedList<Product>



<div class="row">
    <!-- single product -->
    @foreach (var item in Model)
    {
        <div class="col-lg-4 col-md-6">
            <div class="single-product">
                <img class="img-fluid" src="@Url.Content("~/Content/img/"+item.Image)" alt="">
                <div class="product-details">
                    <h6>
                        @item.ProductName
                    </h6>
                    <div class="price">
                        <h6>@item.Price</h6>
                        <h6 class="l-through">$210.00</h6>
                    </div>
                    <div class="prd-bottom">

                        <a href="" class="social-info">
                            <span class="ti-bag"></span>
                            <p class="hover-text">add to bag</p>
                        </a>
                        <a href="" class="social-info">
                            <span class="lnr lnr-heart"></span>
                            <p class="hover-text">Wishlist</p>
                        </a>
                        <a href="" class="social-info">
                            <span class="lnr lnr-sync"></span>
                            <p class="hover-text">compare</p>
                        </a>
                        <a href="@Url.Action("ProductDetail","Store",new{@ProductID=item.ProductID})" class="social-info">
                            <span class="lnr lnr-move"></span>
                            <p class="hover-text">view more</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


