
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                
                <nav class="d-flex align-items-center">
                    @Html.ActionLink("Trang chủ", "Index", "Home")<span class="lnr lnr-arrow-right"></span>
                    <span> @ViewBag.Title</span>
                </nav>
            </div>
        </div>
    </div>
</section>

